*.class

#package file
*.war
*.ear

#kdiff3
*.org

#maven
target/

#eclipse
.settings/
.project

#idea
.idea/
/idea/
out
*.iml
*.ipr
*.iws

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system
.DS_Store
Thumbs.db
